.container {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin: 32px 4% 0 4%;
  }

  .header__button {
    width: 199px;
    height: 60px;
    background-color: #000000;
    padding: 20px 40px;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      background-color: #000000d0;
    }
  }

  main {
    .heading {
      display: flex;
      justify-content: center;
      h1 {
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        max-width: 584px;
      }
    }
  }
}
